
<%- include('header') %>

<body>
    <header>
        <nav>
            <div class="row">
                <img class="logo" src="resources/img/logo-white.png" alt="">
                <img class="logo-black" src="resources/img/logo.png" alt="">

                <ul class="main-nav js--main-nav">
                    <li><a href="#features">Food delivery</a></li>
                    <li><a href="#testimonials">Our clients</a></li>
                    <li><a href="#order">Order Now</a></li>
                    <li><a href="#sign-up"">Sign up</a></li>
                </ul>
                <a class=" mobile-nav-icon js--nav-icon" href=""><i class="fas fa-bars"></i></a>
            </div>
        </nav>

        <div class="hero-text-box">
            <h2>ECEN-404 Project</h2>
            <h1>We have <strong><%= count %> </strong> Customers!<br>Hot Welcome from NU Kitchen.</h1>
            <a class="btn btn-full js--scroll-to-plans" href="#order">I’m hungry </a>
            <a class="btn btn-ghost js--scroll-to-start" href="#meals">Show me more </a>

            <em>
                <p>ECEN-404: Database Systems (Spring 2020) <br>
                    Under Supervision of Prof. Walaa Medhat , Eng.  Shaymaa ElKaliouby 

                </p>
            </em>

        </div>
    </header>
    