<section class="section-team" id="team">
    <div class="row">
        <h2>Team Members and Contribution</h2>
    </div>
    <div class="row team">
        <div class="col span-1-of-5">
            <cite> <img src="resources/img/team/3.jpg" alt=""> Mahmoud Sallam
            </cite>
        </div>
        <div class="col span-1-of-5">
            <cite> <img src="resources/img/team/2.jpg" alt=""> Eslam Mohamed</cite>
        </div>
        <div class="col span-1-of-5">
            <cite> <img src="resources/img/team/1.jpg" alt=""> Shorouk Diaa</cite>
        </div>
        <div class="col span-1-of-5">
            <cite> <img src="resources/img/team/4.jpg" alt=""> Ibrahim Khaled</cite>
        </div>
        <div class="col span-1-of-5">
            <cite> <img src="resources/img/team/5.jpg" alt=""> Ahmed Mabrouk</cite>
        </div>
    </div>
</section>